/* element: links */
a {
    color: #007bff;
    text-decoration: none;
}

a:focus, a:hover {
    color: #005587;
    text-decoration: underline;
}

a.hover {
    text-decoration: none;
}

a.hover:hover {
    text-decoration: underline;
}

/* element: paragraphs in the body text */
p {
    line-height:150%;
    font-size: 18px;
}

/* element: divider line */
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

body,td,th {
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
}

strong {
    font-family: Arial;
    font-size: 18px;
    font-weight: 800
}

/* block: heading in the paragraph */
heading {
    font-family: Arial;
    color: #A31F34;
    /*color: #155799;*/
    font-size: 30px;
    font-weight: bold;
}

/* block: paper title in the body text */
papername {
    font-family: Arial;
    font-size: 18px;
    font-weight: 600;
}

/* class: page title */
.paper-title {
    font-family: Arial;
    font-size: 40px;
    text-align: center;
    font-weight:800;
}

/* class: section */
.section {
    padding-top: 1em;
    padding-bottom:0em;
    width: 70em;
    max-width: 70em;
    margin-left: auto;
    margin-right: auto;
}

/* class: profile */
.card {
    display: inline-block;
    width: 180px;
}

/* class: profile image */
.card-img {
    border-radius: 50%;
    width:150px;
}

/* class: Bibtex */
.bibtax {
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Table for examples */
#example {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#example td, #example th {
  border: 1px solid #ddd;
  padding: 8px;
}

#example tr:nth-child(even){background-color: #f5f5f5;}

#example tr:hover {background-color: #ddd;}

/*table tile*/
#example th {
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  background-color: #2774AE;
  color: white;
}

/* class: images in the table */
.example-text {
    font-size: 14px;
    vertical-align: center;
}

.example-img-block {
    vertical-align: center;
    text-align: center;
}

.example-img {
    max-width: 150px;
    max-height: 100px;
}

.example-choice {
    font-size: 14px;
    white-space: nowrap;
    vertical-align: center;
}

.example-text-liter {
    font-family: Courier;
    font-size: 14px;
    letter-spacing: -0.2px;
    vertical-align: center;
}

.example-diag-liter {
    font-family: Courier;
    font-size: 14px;
    letter-spacing: -0.2px;
    vertical-align: center;
}


.page-header {
  color: #fff;
  text-align: center;
  background-color: #159957;
  /*background-image: linear-gradient(120deg, #4b2e83, #b7a57a);*/
  background-image: linear-gradient(120deg, #155799, #159957);
  padding: 30px 30px;
  margin: -10px -10px;
  /*text-shadow: 1px 1px 0 black;*/
  margin-bottom: 10px;
}

.project-name {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 50px
}

.project-tagline {
  margin-bottom: 30px;
  font-weight: normal;
  opacity: 0.9;
  font-size: 30px
}
